*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
linear-gradient(120deg, dodgerblue, rgb(202, 44, 168))

body {
  background: #1A2238;
  font-family: 'Space Grotesk', sans-serif;
}

h3{
  color:#9DAAF2;
  text-align: center;
}
 
p {
  color: #fff;
  /* margin-top: 20%; */
  text-align: center;
}

.container{
  text-align: center;
  margin-left: 600px;
  color: black;
  width: 20%;
  
}
.btn{
  border: 1px solid black;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #333;
  font-family: 'Space Grotesk', sans-serif;
  height: 75px;
}
.btngod{
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  width: 150%;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-top: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 10px;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(500%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0; 
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


/* @media screen and (max-width:768px) {
  .btn .btn-primary {
    justify-content: center;
  }
} */

div[class='btn btn-primary'] {
  z-index: -1;
}

.btn191{
  margin-left: 25%;
  padding: 10px;
  background-color: #333;
  border: 2px solid #3498db;
  width: 50%;
  color: white;
}
