*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A2238;
  font-family: 'Space Grotesk', sans-serif;
}

h3{
  color:#fff;
  text-align: center;
}

 
p {
  color: #fff;
  /* margin-top: 20%; */
  text-align: center;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1A2238;
  font-family: 'Space Grotesk', sans-serif;
  height: 75px;
}
.kkgod{
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  width: 150%;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-top: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 10px;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 2;
    transform: translateX(500%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0; 
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


/* @media screen and (max-width:768px) {
  .kk .kk-primary {
    justify-content: center;
  }
} */

div[class='kk kk-primary'] {
  z-index: -1;
}

.kk191{
  margin-left: 25%;
  padding: 10px;
  background-color: #333;
  border: 2px solid #3498db;
  width: 50%;
  color: white;
}

.banner{
  background-color: white;
  color: #1A2238;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.boxing{
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;

  animation: moveBanner 1s 0.5s forwards;
}

.container{
  text-align: center;
  margin-top:50px;
}

.kk{
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: #3498db;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.kk::before,.kk::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #353b48;
  transform: skewX(50deg);
  transition: .4s linear;
}

.kk::before{
  top: -4px;
  left: 10%;
}

.kk::after{
  bottom: -4px;
  right: 10%;
}

.kk:hover::before{
  left: 80%;
}

.kk:hover::after{
  right: 80%;
}

.section-heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 6rem;
}

.underline {
  width: 12rem;
  height: 0.3rem;
  margin-top: -5%;
  margin-left: 43%;
  background-color: #c29525;
}
